{% extends "blog/base.html" %}

{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/posts-detail.css' %}"/>

{%  endblock %}

{%  block content %}

<section id="summary">
    <h2>{{ post.title }}</h2>
    <article>
        <img src="{% static 'blog/images/profilepic.jpg' %}"  alt="post title">
        <address>by {{ post.author }}</address>
        <div>
            last updates
        </div>
    </article>
</section>

<main>
    {{ post.content }}
</main>

{% endblock %}
